<div class="container">
  <button mat-raised-button (click)='goEdit(operation.add)'> Add Product </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> productId. </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef> productCode </th>
      <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="starRating">
      <th mat-header-cell *matHeaderCellDef> starRating </th>
      <td mat-cell *matCellDef="let element"> {{element.starRating}} </td>
    </ng-container>
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> imageUrl </th>
      <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
    </ng-container>
    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> releaseDate </th>
      <td mat-cell *matCellDef="let element"> {{element.releaseDate}} </td>
    </ng-container>


    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        Operations
      </th>
      <td mat-cell *matCellDef="let element">
        <span (click)='goEdit(operation.update,element.productId)'>
          <mat-icon color='warn' matTooltip='Update Product' matTooltipPosition="left">edit</mat-icon>
        </span>
        <span (click)='goEdit(operation.delete,element.productId)'>
          {{element.symbol}}
          <mat-icon color='primary' matTooltip='Delete Product' matTooltipPosition="right">close</mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>